
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/javascripts/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="/javascripts/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="/javascripts/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="/javascripts/bootstrap.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Sign Up</title>
  <link href="/dist/css/styles.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
  <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Sri-Ksetra Info</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
        </div> -->
      </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#"><b> Hello <%= (locals.user==undefined)? "Unknown":locals.user.name;%> !</b></a><a class="dropdown-item" href="#">Activity Log</a>
          <div class="dropdown-divider"></div>
          <% if(locals.user){%>
            <a class="dropdown-item" href="/signout">Logout</a>
        <%}else{%>
            <a class="dropdown-item" href="/signin">LogIn</a>
      <%  }%>
        </div>
      </li>
    </ul>
  </nav>
  <div id="layoutSidenav">
    <div id="layoutSidenav_nav">
      <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
          <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/home">
              <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
              Home
            </a>
            <div class="sb-sidenav-menu-heading">Interface</div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
              <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
              Posts
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="/posts/postadd">Post Add</a><a class="nav-link" href="/posts/postlist">Post List</a></nav>
            </div>
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
              <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
              Pages
              <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
              <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">Authentication
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div></a>
                <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                  <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="/signin">Login</a><a class="nav-link" href="/signup">Register</a>
                <!-- <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">Error
                  <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div></a> -->
                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                  <nav class="sb-sidenav-menu-nested nav"><a class="nav-link" href="401.html">401 Page</a><a class="nav-link" href="404.html">404 Page</a><a class="nav-link" href="500.html">500 Page</a></nav>
                </div>
              </nav>
            </div>

          </div>
        </div>
        <div class="sb-sidenav-footer">
          <div class="small">Logged in as:</div>
          Admin
        </div>
      </nav>
    </div>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid">
          <h1 class="mt-4">Update Your Account</h1>


            <!-- <div class="page-inner mt6"> -->
            <div class="row mt--2">
              <div class="col-md-12">
                <div class="card full-height bg-light">
                  <div class="card-body ">
                    <div class="card-title">Sign Up</div>
                    <div class="card-category">Hey Guy, Please Update To Your Account</div>
                    <!-- <div class="d-flex flex-wrap justify-content-around pb-2 pt-4"> -->
                    <form name="frm" action="/updatePassword/<%=locals.user.id%>" method="post">
                      <!-- <div class="form-group">
                        <label for="name"></label>
                        <input type="hidden" class="form-control" id="name" name="name" aria-describedby="nameHelp" value="<%=locals.user.id%>">
                        <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div> -->
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" value="<%=locals.user.name%>">
                        <small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" value="<%=locals.user.email%>">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" value="<%=locals.user.password%>">
                      </div>
                      <div class="card-action">
                        <button type="button" class="btn btn-success" id="sub">Update</button>
                        <!-- <button type="reset" class="btn btn-danger">Cancel</button> -->
                      </div>
                      <!-- <div class="card-footer text-center">
                          <div class="small"><a href="/signin">Have an account? Go to Login.</a></div>
                      </div> -->
                    </form>

                  </div>
                </div>
              </div>


            </div>
          </div>

      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; pyayinfo 2020</div>
            <div>
              <a href="#">Privacy Policy</a>
              &middot;
              <a href="#">Terms &amp; Conditions</a>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="/dist/js/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
  <script src="/dist/assets/demo/chart-area-demo.js"></script>
  <script src="/dist/assets/demo/chart-bar-demo.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
  <script src="/dist/assets/demo/datatables-demo.js"></script>
</body>
<script type="text/javascript">
  $('#email').blur(function(){
    var data={
      email1:$('#email').val()
    };
    if(data.email1 != ''){
      $.ajax({
        url:'/duemail',
        data:data,
        type:'POST',
        success:function(result){
          if(result.status){
            alert('duplicate email and not validate');
            $('#email').val(' ');
            $('#email').focus();
          }
        }
      })
    }
  })

  $('#sub').click(function(){
    var datap={
      password1:$('#password').val()
    };
    if(datap.password1 != ''){

      $.ajax({
        url:'/passval',
        data:datap,
        type:'POST',
        success:function(result){
          if(result.status){
            if($('#email').val() == '' || $('#name').val()==''){
              alert('Hey master, Please enter other fields');
            }else {
              frm.submit();
            }
          }else {
            alert('Your password is not validate');
            $('#password').val(' ');
            $('#password').focus();
          }
        }
      })
    }
  })
</script>
</html>
